@page
@using iBlog.Areas.Identity.Pages.Administration
@inject UserManager<iBlog.AppUser> UserManager

@model UsersInRolesModel
@{
    ViewData["Title"] = "UsersInRoles";
    ViewData["ActivePage"] = AdminNavPages.UsersInRoles;
}
<h4>Users role management</h4>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>All Users</td>
            @foreach (var approle in Model.UsersRolesList)
            {
                <td>Is "@approle.Name"</td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var appuser in Model.UsersList)
        {
            <tr>
                <td>
                    @appuser.Email
                </td>
                    @foreach (var approle in Model.UsersRolesList)
                    {
                       <td>
                           @{var tuser = await UserManager.FindByEmailAsync(appuser.Email);}
                           @{var tuserRoles = await UserManager.GetRolesAsync(tuser);}
                           @if (tuserRoles.Contains(approle.Name))
                            {
                                <p>Y</p>
                            }
                            else 
                            { 
                                <p>N</p>
                            }
                       </td>
                     }
            </tr>
        }
    </tbody>
</table>
